* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 5px;
  background-color: #111111;
  color: white;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav {
  position: sticky;
  top: 0;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

.flex-container-column {
  display: flex;
  flex-direction: column;

  max-width: 500px;
  margin: 30px 20px 0 20px;
  text-align: right;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#left-number,
#right-number,
.operator {
  flex-basis: 25%;
}

#prev-left-number,
#prev-right-number,
#prev-answer,
.prev-operator {
  flex-basis: 20%;
}

.button {
  flex-basis: 34%;

  font-size: 1em;
  text-align: center;
  padding: 15px;
  border: 1px solid black;
  background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
  cursor: pointer;
}

.button:hover {
  font-weight: bold;
}

.double {
  flex-basis: 50%;
}

.display {
  color: white;
  width: 100%;
  padding: 5px 10px;
  background-color: #111111;
  border: 1px solid black;
  font-size: 1em;
}

.clear {
  background: #ff5555;
}

.enter {
  background: #55ff55;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  margin: 20px;
}

footer {
  padding: 5px;
  color: white;
  background-color: #111111;
  font-weight: bold;
  padding-left: 20px;
}

@media screen and (max-width: 513px) {
  .button {
    padding: 10px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
}
